<h1><%= @sub.title %></h1>

<p><%= @sub.description %></p>

<%= link_to "Edit Sub", edit_sub_url %>
<hr>

<%= render "posts/new", sub_id: @sub.id %>

<% @sub.posts.each do |post| %>
  <%= link_to post.title, post_url(post) %>
<% end %>
